:root {
    --vermelho: #e50914;
    --preto: #141414;
    --cinza: #222222;
    --cinzaDois: #444444;
    --tonal: #394264;
    --azul: #252B42;
}

body {
    background: var(--cinza);
    font-family: 'Inter', sans-serif;
    color: #FFF;
}

/*HEADER*/

.header-container .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-container {
    margin-top: 20px;
    margin-inline: 190px;
}

.logo-link {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: start;

    font-size: 20px;
}

.logo {
    width: 20px;
    margin-right: 10px;
}

header nav a {
    margin-inline: 30px;

}

header nav a:hover {
    color: #bbbbbb;
}

.navpage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/*MAIN*/

.main-section {
    font-size: 20px;

    height: 671px;
    margin-inline: 190px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-section .main-description {
    margin-top: 10px;
    margin-bottom: 40px;
    width: 50%;
    font-size: 20px;
    font-weight: 400;
}

.main-section .main-title {
    font-size: 70px;
    font-weight: 600;
}

.highlight {
    font-size: 1.2em;
    color: #fa6400;
}

img {
    width: 20em;
}

button {
    align-items: center;
    background-color: #fa6400;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    vertical-align: middle;
}

/*TABLE*/

.table-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table-section h2 {
    font-size: 4em;
    font-weight: 700;
    margin-bottom: 40px;
}

.table-section table {
    width: 10%;
}

.table-section td {
    border: 4px solid #FFF;
    padding: 15px;
    text-align: left;
    vertical-align: middle;
}

.table-section th {
    text-align: center;
    font-weight: 600;
    border: 4px solid #FFF;
    padding: 15px;
}

.table-section, #links {
    height: 740px;
}

/* LINKS SECTION */

.links-section {
    font-size: 20px;

    height: 671px;
    margin-inline: 190px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links-section .image-section {
    margin-right: 20px;
}

.links-section .sinopse {
    margin-block: 30px;
    width: 75%;
    font-size: 20px;
    font-weight: 400;
    text-align: right;
}

.links-section .logo {
    width: 70%;
    margin-right: 15px;
}

.links-section .links-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
}

.sinopse-links {
    list-style-type: disc;
    margin-top: 10px;
    padding-left: 20px;
}

.sinopse-links li {
    margin-bottom: 5px;
}

/*Seção final e footer*/


.sobre-ahsoka, .sobre-mim {
    height: 335px;
}

.sobre-mim {
    background-color: var(--cinzaDois);
    font-size: 4em;
    font-weight: 600;
}

.sobre-mim img {
    width: 2em;
}

.final-message {
    height: 61px;
    font-size: 1em;
}

.sobre-mim, .final-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.sobre-ahsoka .ahsoka-content h3 {
    font-size: 3em;
    font-weight: 600;
}

.sobre-ahsoka .ahsoka-content p {
    margin-block: 30px;
    width: 50%;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}

.sobre-ahsoka {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-inline: 190px;
}